DATABASE_URL=""
ADMIN_REDPAGOS_USERNAME=""
ADMIN_REDPAGOS_PASSWORD=""
FUNCIONARIO_REDPAGOS_USERNAME=""
FUNCIONARIO_REDPAGOS_PASSWORD=""
ADMIN_FARMACIA_USERNAME=""
ADMIN_FARMACIA_PASSWORD=""
JWT_SECRET=""
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
PUERTO=